# Carpetas generadas por Quarto
_site/
docs/

# Entorno virtual de Python
venv/

# Archivos temporales y de sistema
*.log
.DS_Store
.env  # No olvides ignorar archivos con credenciales o configuraciones sensibles

/.quarto/
